<!DOCTYPE html>
<html>
<head>

	<title>hello</title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<h1> SARKARI BANK </h1>
			<h2>welcome to Login page</h2>
<div>
	<fieldset>
			<table>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td>password</td>
					<td><input type="password" name="paasw"></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><input type="submit" value="Enter"></td>
				</tr>
			</table>
		</form>
	</fieldset>
</div>
	</div>
	
</div>
</body>
</html>